* {
  margin: 0px;
}

/*TOP-HEADER*/
@media screen and (max-width: 375px) {
  #cor-name {
    display: block;
  }

  #cor-tell {
    display: block;
  }

  #cor-email {
    display: block;
  }
}
/*NAVBAR*/
/*HEADER*/
.header {
  width: 100%;
  height: 500px;
  background-color: blue;
  margin: 0%;
}

.header .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

@media screen and (max-width: 375px) {
  .header .img {
    width: 100%;
  }
}
